target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log
*.class
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db

/.vscode
QuanLyThuVien/src/main/resources/application.properties
