target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log
*.class
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db

src/main/resources/application.properties
!src/main/resources/application-example.properties
/.vscode
QuanLyThuVien/src/main/resources/application.properties
